## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=12
print (a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
type (12)

int

4) Crear una variable que contenga tu nombre

In [9]:
mi_nombre = "Santiago Jurado Londoño"
print(mi_nombre)

Santiago Jurado Londoño

5) Crear una variable que contenga un número complejo

In [12]:
n_complejo = 5 + 25j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [13]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
var1 = "True"
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [20]:
print("la variable 1 es de tipo", type(var1), "la variable 2 es de tipo", type(var2))

la variable 1 es de tipo <class 'str'> la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [21]:
a = 8+24.365

11) Realizar una operación de suma de números complejos

In [28]:
a = 23 + 24j
b = 16 +12j
print(a+b)

(39+36j)

12) Realizar una operación de suma de un número real y otro complejo

In [30]:
c = a + 0.23
print(c)

(23.23+24j)

13) Realizar una operación de multiplicación

In [32]:
print(2*586)

1172

14) Mostrar el resultado de elevar 2 a la octava potencia

In [33]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
a = 27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [35]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [36]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [37]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [39]:
var1 = "Feliz"
var2 = " de verte"
print(var1 + var2)

Feliz de verte

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [40]:
2 == "2" # porque el 2 lo toma como numero y luego como texto por lo que no son iguales

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [44]:
a=float("3,8") #porque float no sirve como funcion para cambio de datos de texto sino numericos

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [51]:
a = 3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [52]:
1 << 2 # porque la numeración binaria es de 0 y 1 por lo que al expresar 1 << 2 indica que se desplace 2 lugares a la izquierda dando como resultado 100 que es igual a 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [57]:
# no esta permitido ya que son dos tipos de datos diferente, para poder realizar la operacion requiere aplicar la funcion float si lo requiere con decimales, int si requiere el numero entero

float(2) + float("2")

4.0

In [56]:
int(2) + int("2")

4

26) Realizar una operación válida entre valores de tipo entero y string

In [60]:
var1=" viva Colombia "
var2= 2
print(var1 * var2 + str(var2) + " veces")

 viva Colombia  viva Colombia 2 veces